.menu ul li {
    a.has-child:after,
    ul,
    &:hover > ul {
        transition: 0.3s all;
    }
}

.wrap-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu-head-left {
    position: relative;
}

.title-menu {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    line-height: 40px;
    display: block;
}

.menu-product-list {
    position: absolute;
    z-index: 99;
    top: 100%;
    width: 250px;
    background: #fff;
    border-radius: 2px;

    ul {
        padding: 0px;
        margin-bottom: 0px;

        ul {
            position: absolute;
            width: 750px;
            background: #fff;
            left: 100%;
            top: 0px;
            border: 1px solid #999;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            height: 100%;
            overflow-x: hidden;

            ul {
                position: relative;
                left: 0px;
                top: 0px;
                width: 100%;
                border: none;
                display: block;
                height: auto;
            }
        }

        li a {
            position: relative;
            display: block;
            color: #333;
            font-size: 14px;
            font-weight: 500;
            padding: 5px 10px 5px 10px;
            border-bottom: 1px solid #ddd;

            .icon-down {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }

        ul li a span {
            position: absolute;
            right: 10px;
            font-size: 13px;
            font-weight: 500;
            color: #00a3ff;
        }

        li a:hover {
            color: #f00;
        }

        ul {
            li a {
                border-bottom: none;
                font-weight: bold;
            }

            ul li a {
                font-weight: normal;
            }
        }
    }
}

.menu {
    position: relative;
    z-index: 99;
    width: calc(100% - 190px);

    .wrap-content {
        position: relative;
    }
}

.fix_menu {
    position: fixed !important;
    box-shadow: 0 0 1px #999;
    background: #fff;
}

.menu ul {
    width: 100%;
    padding: 0px;
    margin: 0;
    list-style: none;

    li {
        position: relative;
        z-index: 99;
    }

    &.ulmn > li {
        flex: auto;
    }

    li {
        &.line {
            width: 1px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.5);
            flex: none;
        }

        a {
            font-size: 14px;
            color: #fff;
            margin: 0px;
            padding: 0;
            position: relative;
            z-index: 1;
            text-align: center;
            text-decoration: none !important;
            display: block;
            line-height: 45px;

            img {
                vertical-align: middle;
            }

            &.active {
                color: #fed402;
            }
        }

        &:hover > a {
            color: #fed402;
        }

        ul {
            position: absolute;
            min-width: 250px;
            left: 0;
            background: #fff;
            box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.3);
            -webkit-transform: perspective(600px) rotateX(-90deg);
            transform: perspective(600px) rotateX(-90deg);
            -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
        }

        &:hover > ul {
            -webkit-transform: perspective(600px) rotateX(0);
            transform: perspective(600px) rotateX(0);
            -webkit-transform-origin: 0 0 0;
            opacity: 1;
            visibility: visible;
            transition: all 0.7s;
        }

        ul li {
            text-align: left;
            border-bottom: 1px solid rgb(173 173 173 / 32%);

            &:last-child {
                border-bottom: 0px;
            }

            a {
                font-size: 14px;
                padding: 10px;
                display: block;
                text-decoration: none !important;
                line-height: 20px;
                text-align: left;
                font-weight: 500;
                text-transform: capitalize;
            }

            ul {
                top: 0px;
                left: 100%;
            }

            a {
                &:before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: #fed402;
                    transition: all 0.3s linear;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    visibility: hidden;
                    opacity: 0;
                }

                &:hover {
                    &:before {
                        left: 0;
                        visibility: visible;
                        opacity: 1;
                        width: 30px;
                    }

                    padding-left: 40px;
                }
            }

            > a.active:before {
                left: 0;
                visibility: visible;
                opacity: 1;
                width: 30px;
            }
        }
    }
}
