:root {
    --color-text-detail: #111;
    --color-background-detail: #ccc;
    --font-size-detail: 16px;
}

.dark-mode {
    --color-text-detail: #fff;
    --color-background-detail: #111;
    --font-size-detail: 16px;
}

.wrap-detail-chapter {
    background-color: var(--color-background-detail);
    font-size: var(--font-size-detail);
    .tool{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        bottom: 200px;
        right: 20px;
        .btn-tool{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-background-detail);
            background-color: var(--color-text-detail);
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 16px;
                color: var(--color-background-detail);
            }
        }
    }
    .title-chapter {
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }
    * {
        color: var(--color-text-detail);
    }
}
